.header {
  float: right;
  position: absolute;
  right: 0;
  margin-right: 30px;
  font-size: 20px;
  margin-top: 15px;
  color: #FFAA1D;
}

.headerIcon1 {
  float: right;
  position: absolute;
  right: 0;
  font-size: 25px;
  margin-top: -42px;
  margin-right: 250px;
  color: gray;
}

.headerIcon2 {
  float: right;
  position: absolute;
  right: 0;
  font-size: 25px;
  margin-top: -42px;
  margin-right: 300px;
  color: gray;

}