.subtitle:hover {
  color: #FFAA1D;
  text-decoration-line: underline
}

.main2 {
  background-color: white;
}

.sidebar1 {
  height: 60vh;
  padding: 30px;
  background-color: white;
  font-size: 20px;
  line-height: 3.5;
}